<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <settings>
          <setting name="VISION_ENDPOINT" value="https://whfc2024-vision.cognitiveservices.azure.com/" />
          <setting name="VISION_KEY" value="KEY GOES HERE" />
      </settings>
      <commands>
          <command name="willcodeforcache:alttext" type="Hackathon.Feature.Commands.GenerateAltTextForCurrentMediaItem, Hackathon.Feature"/>
      </commands>
  </sitecore>
</configuration>