<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <settings>
          <setting name="LANGUAGE_ENDPOINT" value="https://hackathonlanguageanalysis.cognitiveservices.azure.com/" />
          <setting name="LANGUAGE_KEY" value="cf708cb08fc146b18a22ff96015fd1ac" />

          <setting name="LOCALIZED_CM_URL" value="127.0.0.1" />

          <!-- The VISION_ENDPOINT is the URL, and VISION_KEY is the access key for the Computer Vision instance to use -->
          <setting name="VISION_ENDPOINT" value="https://whfc2024-vision.cognitiveservices.azure.com/" />
          <setting name="VISION_KEY" value="d8b51b0aece44e0fa6d66840406b61ed" />

          <!-- Image tags will come back with a confidence between 0.00 and 1.00. Any image tages below the -->
          <!-- ImageTagMinimumConfidence value will be filtered out, and when returning a comma-separated list -->
          <!-- of keywords based on these tags, only up to ImageTagMaximumCount entries will be included. -->
          <setting name="WillCodeForCache.ImageTagMinimumConfidence" value="0.75" />
          <setting name="WillCodeForCache.ImageTagMaximumCount" value="10" />

          <!-- Pipe-separated list of scripts to include when rendering the content editor. -->
          <setting name="WillCodeForCache.ScriptFiles" value="/sitecore modules/WillCodeForCache/Scripts/Assistant.js" />

      </settings>
      <commands>
          <command name="willcodeforcache:alttext" type="Hackathon.Feature.Commands.GenerateAltTextForCurrentMediaItem, Hackathon.Feature"/>
          <command name="willcodeforcache:keywordtags" type="Hackathon.Feature.Commands.GenerateKeywordTagsForCurrentMediaItem, Hackathon.Feature" />
          <command name="willcodeforcache:pagesummary" type="Hackathon.Feature.Commands.GenerateSummaryForCurrentPageItem, Hackathon.Feature"/>
      </commands>
      <pipelines>
          <renderContentEditor>
              <processor patch:before="*[1]" type="Hackathon.Feature.Pipelines.RenderContentEditor.AddAssistantScripts, Hackathon.Feature" />
          </renderContentEditor>
      </pipelines>
  </sitecore>
</configuration>