<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <settings>
          <setting name="LANGUAGE_ENDPOINT" value="https://hackathonlanguageanalysis.cognitiveservices.azure.com/" />
          <!--<setting name="LANGUAGE_KEY" value="KEY GOES HERE" />-->
          <setting name="LANGUAGE_KEY" value="KEY GOES HERE" />
          <setting name="LOCALIZED_CM_URL" value="127.0.0.1" />
          <setting name="VISION_ENDPOINT" value="https://whfc2024-vision.cognitiveservices.azure.com/" />
          <!--<setting name="VISION_KEY" value="KEY GOES HERE" />-->
          <setting name="WillCodeForCacheScriptFiles" value="/sitecore modules/WillCodeForCache/Scripts/Assistant.js" />

          <setting name="LANGUAGE_KEY" value="cf708cb08fc146b18a22ff96015fd1ac" />
          <setting name="VISION_KEY" value="d8b51b0aece44e0fa6d66840406b61ed" />

      </settings>
      <commands>
          <command name="willcodeforcache:alttext" type="Hackathon.Feature.Commands.GenerateAltTextForCurrentMediaItem, Hackathon.Feature"/>
          <command name="willcodeforcache:pagesummary" type="Hackathon.Feature.Commands.GenerateSummaryForCurrentPageItem, Hackathon.Feature"/>
      </commands>
      <pipelines>
          <renderContentEditor>
              <processor patch:before="*[1]" type="Hackathon.Feature.Pipelines.RenderContentEditor.AddAssistantScripts, Hackathon.Feature" />
          </renderContentEditor>
      </pipelines>
  </sitecore>
</configuration>