<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <settings>
          <!--- Localized CM URL is used to make a web request to CM for rendererd page content, from inside the CM container -->
          <setting name="LOCALIZED_CM_URL" value="127.0.0.1" />

          <!-- Image tags will come back with a confidence between 0.00 and 1.00. Any image tages below the -->
          <!-- ImageTagMinimumConfidence value will be filtered out, and when returning a comma-separated list -->
          <!-- of keywords based on these tags, only up to ImageTagMaximumCount entries will be included. -->
          <setting name="GenerativeMetadata.ImageTagMinimumConfidence" value="0.75" />
          <setting name="GenerativeMetadata.ImageTagMaximumCount" value="10" />

          <!-- Pipe-separated list of scripts to include when rendering the content editor. -->
          <setting name="GenerativeMetadata.ScriptFiles" value="/sitecore modules/GenerativeMetadata/Scripts/Assistant.js" />

      </settings>
      <commands>
          <command name="generativemetadata:alttext" type="WillWorkForCache.Feature.GenerativeMetadata.Commands.GenerateAltTextForCurrentMediaItem, WillWorkForCache.Feature.GenerativeMetadata"/>
          <command name="generativemetadata:keywordtags" type="WillWorkForCache.Feature.GenerativeMetadata.Commands.GenerateKeywordTagsForCurrentMediaItem, WillWorkForCache.Feature.GenerativeMetadata" />
          <command name="generativemetadata:pagekeywords" type="WillWorkForCache.Feature.GenerativeMetadata.Commands.GenerateKeywordsForCurrentPageItem, WillWorkForCache.Feature.GenerativeMetadata"/>
          <command name="generativemetadata:pagesummary" type="WillWorkForCache.Feature.GenerativeMetadata.Commands.GenerateSummaryForCurrentPageItem, WillWorkForCache.Feature.GenerativeMetadata"/>
      </commands>
      <pipelines>
          <renderContentEditor>
              <processor patch:before="*[1]" type="WillWorkForCache.Feature.GenerativeMetadata.Pipelines.RenderContentEditor.AddAssistantScripts, WillWorkForCache.Feature.GenerativeMetadata" />
          </renderContentEditor>
      </pipelines>
  </sitecore>
</configuration>